.wrapper {
    background-color: var(--white);
    padding: 1.5rem;
    flex: 1 1 100%;
    border-radius: 4px;
    box-shadow: 0px 1px 2px #2E2D2C66;

    .header {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;

        h2 {
            font-size: 1.25rem;
            margin-bottom: 1.5rem
        }

        .status {
            background: var(--grey-120);
            padding: 4px 8px;
            border-radius: 2px;
            font-size: 0.875rem;
            text-align: right;
            white-space: nowrap;
            display: flex;
            align-items: center;
            gap: 0.5rem;

            div {
                width: 0.5rem;
                height: 0.5rem;
                border-radius: 50%;
                background: #000
            }
        }
    }

    .content {

        > p {
            font-size: 0.875rem;
            margin-bottom: 1rem;
        }

        .creationInfo {
            display: flex;
            justify-content: left;
            gap: 2.575rem;
            flex-wrap: nowrap;

            p {
                font-size: 0.875rem;
            }
        }
    }
}