.wrapper {
    flex: 1 1 750px;
    border-radius: 4px;
    height: 300px;

    background-color: var(--white);
    box-shadow: 0px 1px 2px #2E2D2C66;

    display: flex;
    align-items: center;
    justify-content: center;

    .noDocument {
        text-align: center;
        
        p {
            margin-top: 1rem;
            color: var(--grey-200);
            font-size: 0.875rem;
        }
    }
}

.docsRequested {
    flex: 1 1 750px;

    h4 {
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }

    .document {
        background: var(--white);
        border-radius: 4px;
        box-shadow: 0px 1px 2px #2E2D2C66;
        margin-bottom: 1rem;

        .header, .data {
            padding: 1rem 1.5rem;
        }

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            word-break: break-all;
            border-bottom: 1px solid var(--grey-150);

            h5 {
                font-size: 1.25rem;
                white-space: nowrap; 
                overflow: hidden; 
                text-overflow: ellipsis;
                max-width: 650px;
            }

            .removeIcon {
                background-color: transparent;
                border: none;
                display: flex;
            }
        }

        .data {
            display: flex;
            flex-wrap: wrap;

            font-size: 0.875rem;

            p {
                padding: 4px 0;
            }

            h6 {
                font-size: 0.875rem;
                padding-bottom: 12px;
            }

            .personal, .registry {
                flex: 1 1 50%;
                padding-bottom: 1rem;

                .flex {
                    display: flex;
                    align-items: center;
                    gap: 2rem;
                }

                @media screen and (max-width: 500px) {
                    flex-basis: 100%
                }
            }

            .createdAt {
                flex-basis: 100%;

                padding: 1rem 0;
                border-top: 1px solid var(--grey-150);
                text-transform: lowercase
            }
        }
    }
}